@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: linear-gradient(135deg, rgb(72, 115, 255), rgb(158, 60, 255));
    width: 100vw;
    height: 100vh;
    align-items: center;
    padding-top: 200px;
}

.container .todo-app{
    background-color: rgb(239, 239, 239);
    width: 550px;
    min-height: 260px;
    margin: auto;
    border-radius: 20px;
    padding: 50px;
    

}

.todo-app h1 {
    font-size: 30px;
    display: flex;
    margin-bottom: 20px;
}

.todo-app img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

input{
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: #dadada;
    padding: 20px;
    min-width: 340px;
    margin-bottom: 20px;
    font-size: 15px;
    
}

button{
    min-height: 51px;
    min-width: 145px;
    border-radius: 50px;
    border: none;
    background-color: rgb(241, 92, 0);
    margin-left: -45px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    
}

ul li{
    margin-bottom: 10px;
    list-style: none;
    position: relative;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    font-size: 17px;

}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    margin-left: -45px;
}


.checked{
    text-decoration: line-through;
    color: #555;
}

.checked::before {
    background-image: url(./images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #dcdcdc;
}

